* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}


/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: #111827;
}

nav h2 {
    color: #38bdf8;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

nav a:hover {
    color: #38bdf8;
}


/* SECTIONS */

section {
    padding: 80px 8%;
    min-height: 60vh;
}

section h2 {
    color: #38bdf8;
    margin-bottom: 25px;
}


/* HOME */

#home {
    text-align: center;
    padding-top: 120px;
}

#home h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

#home h2 {
    color: #38bdf8;
}


/* BUTTON */

button {
    margin-top: 25px;
    padding: 12px 25px;

    border: none;
    border-radius: 25px;

    background: #38bdf8;
    color: #0f172a;

    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}


/* SKILLS */

#skills div {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}


/* PROJECTS */

#projects div {
    background: #1e293b;
    padding: 25px;
    margin: 20px 0;
    border-radius: 15px;
}

#projects h3 {
    color: #38bdf8;
}


/* CONTACT */

#contact {
    text-align: center;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 25px;
    background: #111827;
}
