body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 80px;
}

h1 {
    color: #38bdf8;
    font-size: 50px;
}

h2 {
    color: #a5f3fc;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
